
#Home {
    height: 100vh;
    width: 100vw;
    background-image: url(/images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
  }


.info {
    padding-top: 3rem;
    padding-left: 28rem;
    padding-right: 28rem;  
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}


@media screen and (max-width: 960px) {

    .hero-text {   
        font-size: 1.2rem;
    }

    #section2 {
        height: 120vh;
    }

    .info {
        padding-left: 3rem;
        padding-right: 3rem;
    }




}